// widescreen
@include mediaXL {
    .projects-box{
        max-width: 50%;
    }

    .projects-box ul li i {
        padding-left: 2rem;
        font-size: 1.5rem;
    }
}

// desktop, laptop
@include mediaLg {
    .projects-box{
            max-width: 70%;
    }
    
    .projects-box ul li i {
        padding-left: 2rem;
        font-size: 1.5rem;
    }
}

// tablets
@include mediaMd {
    main {
        align-items: center;
        text-align: center;

        .large-heading {
            line-height: 1;
            margin-bottom: 1rem;
        }

        .about-info {
            grid-template-areas: 
            'aboutimage'
            'aboutme';

            .about-me {
                padding: 2rem;
            }
        }

        &#home {
            flex-direction: column;

            .home-right {
                padding-left: 0;
                padding-top: 2rem;

                .bitmoji-avatar {
                    width: 180px;
                    height: 180px;
                }
            }
        }
    }

    ul.menu-nav,
    div.menu-branding {
        float: none;
        width: 100%;
        min-height: 0;

        &.show {
            transform: translate3d(0, 0, 0);
        }
    }

    .menu-nav {
        height: 75vh;
        transform: translate3d(-100%, 0, 0);
        font-size: 24px;

        .nav-item:last-child {
            margin-bottom: 20vh;
        }
    }

    div.menu-branding {
        height: 25vh;
        transform: translate3d(-100%, 0, 0);

        .portrait {
            width: 150px;
            height: 150px;
        }
    }

    .projects-box{
        max-width: 80%;
    
        ul li i {
            padding-left: 2rem;
            font-size: 1.5rem;
            }
    }

}

// smartphones
@include mediaSm {
    main#home,
    main#about,
    main#projects,
    main#contact,
    main#skills
     {
        padding: 4rem 2rem;
    
        h1.large-heading {
            font-size: 4rem;
            margin-bottom: 1rem;
        }

    }
    
    main .about-info .about-me {
        padding: 1rem;
    }

    .projects-box {
        div {
           font-size: .8rem;
        }

        ul li {
        font-size: .8rem;
    
            i {
            padding-left: 1.8rem;
            font-size: 1.2rem;
            }
        }
    }
}

// small old phones 
@include mediaXSM {
    main#home {
        padding: 3rem 1rem;
    }
    .small-heading {
        font-size: 1.4rem;
    }
    .projects-box{
        max-width: 90%;
    }

    .projects-box {
        div {
           font-size: .5rem;
        }

        ul li {
        font-size: .5rem;
    
            i {
            padding-left: 1rem;
            font-size: 1rem;
            }
        }
    }
}